
@{
    ViewData["Title"] = "Daily";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        ul.a {
            list-style-type: square;
        }

        ul.b {
            list-style-type: square;
        }

        ol.c {
            list-style-type: square;
        }

        ol.d {
            list-style-type: square;
        }
    </style>
</head>
<body>

    <img src="~/css/daily.jpg" alt="daily" width="500" height="333">
    <br>
    <br>
    <br>

    <p>International Space Station:</p>
    <ul class="a">
        <li>Watch the sunrise</li>
        <li>Eat breakfast meal</li>
        <li>A science experiment with astronaut</li>
        <li>Train for spacewalk</li>
        <li>Spacewalk final day aboard</li>
    </ul>
    </ul>
    <p>The Moon:</p>


    <ul class="b">
        <li>ATV riding daily</li>
        <li>Help build minigolf course</li>
        <li>Moon rock collecting</li>
        <li>Scavenger hunt</li>

    </ul>
    </ul>

    <p>Mars:</p>
    <ol class="c">
        <li>Play hide and seek with NASA rovers</li>
        <li>Locate and inspect the rovers daily for damage caused by storms</li>
        <li>Hang out with Martians and learn about their culture</li>
    </ol>



</body>
</html>





