@{
    ViewData["Title"] = "Welcome";
}

<style>
body { background-image: url("https://d1titnu6se1qmv.cloudfront.net/uploads/2019/03/image-vision-1-1600x900.jpg"); background-size: cover; }
.bodyText {
    color: white;
    font-family: Arial;
}
.TextTop {
        font-size: 20px;
        position: absolute;
 }

 </style>

<br>
<br>
<br>
<br>

    <div class="text-center">
        <h1 class="display-4"><b style="color:white">Welcome</b></h1>
        
        <p> <b style="color: white">My agency offers different trips from the top 3 space tourism companies: SpaceX, Virgin Galactic, and Space Perspective.</b></p>
        <p> <b style="color: white">The trips vary in price from $150,000,000 (Mars) to $25,000 (Suborbital)</b></p>
        <p> <b style="color: white">SpaceX trips require a medical clearance, while the other two do not.</b></p>
        <p> <b style="color: white">Feel free to browse around and what my space travel company has to offer !</b></p>
        <p> <b style="color: white">If you're in the mood, please sign up for a trip and I will contact you shortly !</b></p>
        
    </div>
