@{
    ViewData["Title"] = "Welcome";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>My website makes it simple and easy to sign up for a space trip.</p>
        <p>My agency offers different trips from the top 3 space tourism companies: SpaceX, Virgin Galactic, and Space Perspective.</p>
        <p>The trips vary in price from $150,000,000 (Mars) to $25,000 (Suborbital)</p>
        <p>SpaceX trips require a medical clearance, while the other two do not.</p>
        <p>Feel free to browse around and what my space travel company has to offer !</p>
        <p>If you're in the mood, please sign up for a trip and I will contact you shortly !</p>
        
    </div>
