
@{
    ViewData["Title"] = "Itinerary";
}


<h1>Itinerary For Trip</h1>
<br>
<br>
<br>

<!DOCTYPE html>
<html>
<body>





    <img src="~/css/spacex.jpg" alt="spacex" width="460" height="345">

</body>
</html>
<br>
<br>
<br>


<a href="https://trello.com/b/Hy2KywZP/itinerary" target="_blank">Visit here for an Itinerary and what to bring!</a>

