
@{
    ViewData["Title"] = "MedicalCheck";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/css/check.jpg" alt="check" width="500" height="333">
<h1>MedicalCheck</h1>

<h2><b>YOU MUST PASS A MEDICAL CHECK TO FLY ABOARD SPACEX !</b></h2>
<br>
<br>
<br>

<h2><b>If You Answer No To Any Of The Questions Then You Are Disqualified From Flying !</b></h2>

<br>
<br>
<br>

<h2><b>Dont be disappointed ! Virgin G & Space P does not require a medical check so fly with them !</b></h2>

<br>
<br>
<br>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Can you last at least 45 days eating nothing but dry space food ?</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Can you at last at least 45 days with no medical attention ?</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Can you read, write, and talk clearly ?</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Do you want to be in the dark for months ?</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Can you handle the constant smell of burning metal ?</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Are you willing to only be around the people on your trip for a long period of time ?</label>
</div>

<!-- Material unchecked -->
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="materialUnchecked">
    <label class="form-check-label" for="materialUnchecked">Are you physically fit?</label>
</div>


<p> <b>IF YOU ANSWERED NO TO BEING PHYSICALLY UNFIT, YOU CANT FLY HERE !</b></p>
<br>
<br>
<br>

<p>I want you lifestyle tips from Harvard, click here >>>> <a href="https://www.health.harvard.edu/blog/living-to-100-and-beyond-the-right-genes-plus-a-healthy-lifestyle-201201114092"  target="_blank">live A healthy lifestyle!</a></p>