@{
    ViewData["Title"] = "Space Companies";
}
<h1>@ViewData["Title"]</h1>

<p>Here is info about the three space companies, and the trips they offer.</p>
<p>After viewing, if you find a trip you like, feel free to sign up with the link on your home page</p>
<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>SpaceX</h2>

        <img src="~/css/roadster.jpg" class="mx-auto d-block" style="width:50%">
        <br>
        <br>
        <br>
        <p>SpaceX was founded in 2002 by Elon Musk and is headquarted in Hawthorne, California</p>
        <p>The private company's mission is to put humans on Mars and make space flight more affordable</p>


    </div>

</body>
</html>



<h2> <b>Launch Location</b> </h2>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=28.5729%2C-80.6490&key=AIzaSyARRGJNCFbRXVQCPD0LgJF__n2B61LAE8I" allowfullscreen></iframe>
<br>
<br>
<br>

<div class="container">
    <h2>Launch Manifest</h2>
    <p>Upcoming SpaceX Flights</p>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Destination</th>
                <th>Dates</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>International Space Station</td>
                <td>10.20.2020 and 10.31.2020</td>
                <td>$50,000,000</td>
            </tr>
            <tr>

                <td>Moon</td>
                <td>11.09.2020 and 11.13.2020</td>
                <td>$85,000,000</td>
            </tr>
            <tr>

                <td>Mars</td>
                <td>01.01.2021 and 02.14.2021</td>
                <td>$132,000,000</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>Virgin Galatic</h2>
        <br>
        <br>
        <br>
        <img src="~/css/Low Earth Orbit.jpg" class="mx-auto d-block" style="width:50%">
        <br>
        <br>
        <br>
        <p>Virgin Galatic was founded in 2008 by Sir Richard Branson.</p>
        <p>The purpose of the compnay is to fly multiple humans roundtrip around Earth at an affordable cost.</p>
        <p>Currently, the company offers suborbital flights that reach the edge of Earth.</p>
        <p>Each trip is 2.5 hours around the Earth, and you can choose to see the sunset or the sunrise.</p>
    </div>



</body>
</html>

<h2><b>Launch Location:</b></h2>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLQBtu5GV34YRTW2VurJ0CtU&key=AIzaSyARRGJNCFbRXVQCPD0LgJF__n2B61LAE8I" allowfullscreen></iframe>
<br>
<br>
<br>
<div class="container">
    <h2>Launch Manifest</h2>
    <p>Upcoming Virgin Galatic Flights</p>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Destination</th>
                <th>Dates</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Edge of Space (pick sunrise or sunset)</td>
                <td>Every weekend (Friday-Sunday) starting 09.01.2020</td>
                <td>$25,000 per person or $40,000 for 2</td>
            </tr>
            <tr>


        </tbody>
    </table>
</div>
<br>
<br>
<br>




<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <br>
    <br>
    <br>
    <div class="container">
        <h2>Space Perspective</h2>
        <br>
        <br>
        <br>

        <img src="~/css/balloon.jpg" class="mx-auto d-block" style="width:50%">
        <br>
        <br>
        <br>
        <p>Space Perspective was founded in 2010 by Taber MacCallum and Jane Poynter</p>
        <p>The space company uses a ballon like capsule that sends customers to stratosphere for at least 2 hours</p>
        <p>This trip is popular for groups, weddings, parties</p>
        <p>It holds up to 8 passengers and crew members</p>
        <p>The ballon floats to 100,000 feet above Earth's surface</p>
        <p>This is the most afforadable trip I offer at $50,000 per person.</p>
    </div>

</body>
</html>

<h2><b>Launch Location:</b></h2>
<br>
<br>
<br>

<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=12&center=34.7582%2C-120.5164&key=AIzaSyARRGJNCFbRXVQCPD0LgJF__n2B61LAE8I" allowfullscreen></iframe>
<br>
<br>
<br>
<div class="container">
    <h2>Launch Manifest</h2>
    <p>Upcoming Space Perspective Flights</p>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Destination</th>
                <th>Dates</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Stratosphere (100,000 feet above Earth)</td>
                <td>Floating twice daily starting 08.25.2020 (morning: 0900 and afternoon: 1620</td>
                <td>$10,000 per person or $15,000 for 2 or $36,000 for a group of 8</td>
            </tr>
            <tr>


        </tbody>
    </table>
</div>




