@{
    ViewData["Title"] = "Space Companies";
}
<h1>@ViewData["Title"]</h1>

<p>This is an info page about the three space companies, the trips they offer.</p>
<p>After viewing, if you find a trip you like, feel free to sign up with the link on your home page</p>


