@model IEnumerable<Space.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-image: url("https://d1titnu6se1qmv.cloudfront.net/uploads/2019/03/image-vision-1-1600x900.jpg");
        background-size: cover;
    }

    .bodyText {
        color: white;
        font-family: Arial;
    }

    .TextTop {
        font-size: 20px;
        position: absolute;
    }
</style>

<a asp-action="PickTrip">Book A Trip !</a>
<br>
<br>
<br>
<br>

<a asp-action="Create">Create An Account</a>
<br>
<br>
<br>
<br>
<a asp-action="Itinerary">View an itinerary/Stuff to bring</a>



<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html>
<body>

    <h1>Mars Animation</h1>

    <iframe width="420" height="345" src="https://www.youtube.com/embed/0qo78R_yYFA">
    </iframe>

</body>
</html>


