@model Space.Models.Customer

@{
    ViewData["Title"] = "Itinerary";
}

 <img src="~/css/Itinerary.jpg" alt="check" width="500" height="333">



<!DOCTYPE html>
<html>
<body>

    <h2>Documents Required To Travel</h2>
    <br>
    <br>
    <br>
    <h3>You need one of the following</h3>

    <ul>
        <li>Passport</li>
        <li>Birth Certificate</li>
        <li>Drivers License</li>
    </ul>
    <br>
    <br>
    <br>

    <h2>45 Days Prior To Launch</h2>


    <ul>
        <li>Medical forms must be turned in !</li>


    </ul>
    <br>
    <br>
    <br>
    <h2>30 Days Prior</h2>


    <ul>
        <li>Trip must be paid in full !</li>

    </ul>
    <br>
    <br>
    <br>
    <h2>2 Weeks Prior</h2>


    <ul>
        <li>Arrive at laucnh location for quarintine</li>
        <li>Critical last minute training</li>

    </ul>
    <br>
    <br>
    <br>
    <h2>Launch Day</h2>


    <ul>
        <li>Arrive at launch facuilty 4 hours prior to departure</li>
        <li>Load rocket with luggage, food, and supplies.</li>
        <li>Suit up 2 hours prior to departure.</li>
        <li>Board 1 hour prior to departure. </li>
        <li>Lift Off !</li>

    </ul>
    <br>
    <br>
    <br>
    <h2>When You Land At Destination</h2>


    <ul>
        <li>Unload gear and head to living quarters and setup for stay. </li>
        <li>Spend the rest of day getting used to the environment</li>


    </ul>
    <br>
    <br>
    <br>
    <h2>While You're There</h2>


    <ul>
        <li>Conduct experiments</li>
        <li>Locate American flag and take selfies</li>
        <li>Play golf</li>
        <li>Ride ATVs </li>
        <li>Search for alien life</li>

    </ul>
    <br>
    <br>
    <br>
    <h2>Heading Home</h2>


    <ul>
        <li>Make sure all that is going back is packed.</li>
        <li>Take nausea medicine prior to departure.</li>
        <li>Splash land in the Atlantic Ocean</li>
        <li>Boat ride back to space station</li>


    </ul>



</body>
</html>





<div>
    
    <a asp-action="Index">Back to List</a>
</div>
